.column{
  width: 300px;
  float: left;
  background-color: red;


}
img{
  height: 300px;
  width: 300px;
}
div{
  margin: 10px;
}
.one{
  background-color: yellow;
}
.columntwo{
  width: 300px;
  float: left;
  background-color: blue;
}

.column1{
  width: 300px;
  float: left;
  background-color: yellow;


}
